# deployment.yaml
apiVersion: apps/v1 # The API resource where this workload resides
kind: Deployment # The kind of workload we're creating
metadata:
  name: trips # This will be the name of the deployment
spec:
  selector: # Define the wrapping strategy
    matchLabels: # Match all pods with the defined labels
      app: trips
  template: # This is the template of the pod inside the deployment
    metadata: # Metadata for the pod
      labels:
        app: trips
    spec:
      containers: # Here we define all containers
        - image: registryxzq2360.azurecr.io/vinodtripinsights/trips:1.0
          name: trips
          resources:
            requests: # Minimum amount of resources requested
              cpu: 100m
              memory: 128Mi
            limits: # Maximum amount of resources requested
              cpu: 250m
              memory: 256Mi
          ports:
            - containerPort: 80 # This container exposes port 80
              name: http # We named that port "http" so we can refer to it later
          envFrom:
          - secretRef:
              name: db-credentials
          env:
          - name: PORT
            value: '80'
          - name: OPENAPI_DOCS_URI
            value: 'http://localhost'
          - name: DEBUG_LOGGING
            value: 'true'
---
#service.yaml
apiVersion: v1
kind: Service
metadata:
  name: trips
spec:
  type: ClusterIP
  selector:
    app: trips
  ports:
    - port: 80 # SERVICE exposed port
      name: http # SERVICE port name
      protocol: TCP # The protocol the SERVICE will listen to
      targetPort: http # Port to forward to in the POD